#wrapper{
	width: 500px;
	padding: 10px;
	background: pink;
}
#main{
	float: left;
	width: 36%;
	height:200px;
	background: lightblue;
}
#side{
	float:right;
	width: 36%;
	height: 200px;
	background: lightgreen;
}
.clear{
	clear:both;
	height: 60px;
	background: red;
}